Jogo Cookie Cats - jogo mobile no qual o usuário deve formar conjuntos com as bolinhas de mesma cor (um tetris moderno)

Em algum momentos do jogo o usuário precisar esperar um tempo ou realizar pagamento in-app para avançar. Neste teste A/B, o primeiro "bloqueio" foi movido do nível 30 para o 40 do jogo. Queremos analisar o impacto dessa mudança na retenção dos jogadores.

Dados de 90189 jogadores que instalaram o jogo durante o período do experimento.

Variáveis:
- userid - a unique number that identifies each player.
- version - whether the player was put in the control group (gate_30 a gate at level 30) or the test group (gate_40).
- sum_gamerounds - the number of game rounds played by the player during the first week after installation
- retention_1 - did the player come back and play 1 day after installing?
- retention_7 - did the player come back and play 7 days after installing?

When a player installed the game, he or she was randomly assigned to either gate_30 or gate_40.

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("cookie_cats.csv")

In [6]:
df.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True